<body style="font-family: sans-serif"></body>
<p><span style="color: #000000;"><a style="color: #000000;" href="/">Previous</a></span></p>
<h1>TTFlask - About the Creator</h1>
<p>This page was created by Quinn with help from other coders (because Quinn is too much of an idiot to understand how to do this without help. This page was also mainly made to show information about LITE Transportation (such as the list of players as well as the amount of players online etc). That idea however, went out of hand and here we are with TTFlask!</p>
<p>&nbsp;</p>
<p><strong>Contact me at:</strong></p>
<p>E-mail: <span style="color: #000000;"><a style="color: #000000;" href="mailto:quinntransporttycoon@gmail.com">quinntransporttycoon@gmail.com</a></span></p>
<p>Discord: Quinn#9001</p>