<body style="font-family: sans-serif"></body>
<p><span style="color: #000000;"><a style="color: #000000;" href="/serverinformation">Previous</a></span></p>
<h1>TTFlask - LITE Information</h1>
<p><span style="color: #000000;"><a style="color: #000000;" href="fivem://connect/cfx.re/join/dgpvx3"><strong>Connect by pressing me!</strong></a></span></p>
<p><strong>Reloaded at</strong> {{currenttimed}}.</p>
<p><strong>Amount of players:</strong> {{tcount}}</p>
<p><strong>Uptime:</strong> {{uptime}}</p>
<p>&nbsp;</p>
<p><strong>List of players:</strong></p>
<p>{{players|safe}}</p>